streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
pdf2image
langchain-community
speechrecognition
openai
pyttsx3
pyaudio
pygame
seaborn
setuptools
google-cloud-language 
sentence-transformers
uvicorn
ctransformers
python-box
torch
torchvision
transformers
groq 
gradio 
langchain-google-genai
langchain
geopy
youtube_transcript_api